#page-header {
  width: 100%;
  background: white;
  bottom: 0;
  height: 200px;
  top: 0;
  display: inline-block;
}
#form-input,
#logo{
  position: absolute;
  left: 1.6%;
  right: 86.32%;
  top: 1.95%;
  bottom: 93.75%;
}

#form-input {
  position: absolute;
top:1.95%;
  bottom:92.75%;
left: 24%;
  height: 40px;
width: 582px;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FEFEFE;
  border: 1px solid #E2E2E2;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
#ilustration{


}